.tab {
  background-color: unset;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--border);
  padding: 0.5rem 1rem;
}

.selected {
  border-bottom: 2px solid var(--text-primary);
}
